// Config inheritance options
includeConfig "./config/master.config"

params {
    manifest = ""
    reference = "/data/pam/team216/lg22/scratch/210509_RNASeq/ref/ALREF_Final/ALREF_Final.fasta"
    annotation = "/data/pam/team216/lg22/scratch/210509_RNASeq/ref/ALREF_Final/ALREF_Final.gff"
    library_strandedness = "reverse"

    trimmer = "fastp"
    fastp_args = ""

    combine_fastqs = false
    publish_combined_fastqs = false

    bowtie2_args = "--local --very-sensitive-local --rdg 8,4 --rfg 8,4 --no-mixed"
    
    samtools_filter_args = "-f 2"  // Default: only keep reads that aligned in proper pairs
    htseq_args = "--type gene --idattr locus_tag --nonunique none --secondary-alignments ignore"
    annotate_feature_assignment = false

    dedup = false
    keep_sorted_bam = false
    keep_dedup_bam = false

    multiqc_config = ""
    monochrome_logs = false
}


process {
    withName: 'FASTQC_RAW' {
        ext.args   = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${params.trimmer}/fastqc/raw" },
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: 'FASTQC_TRIM' {
        ext.args   = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${params.trimmer}/fastqc/trim" },
            mode: 'copy',
            overwrite: true
        ]
    }
}
