// Config inheritance options
//TODO Should we simply inherit the custom config.
// We will be responsible for maintaining this pipeline, so seems reasonable to include and fix later
// by duplicating if needed?
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

params {
    // Mandatory input
    manifest = ""
    reference = "/data/pam/team216/lg22/scratch/210509_RNASeq/ref/ALREF_Final/ALREF_Final.fasta"
    annotation = "/data/pam/team216/lg22/scratch/210509_RNASeq/ref/ALREF_Final/ALREF_Final.gff"
    library_strandedness = "reverse"

    // QC
    trimmer = "fastp"
    fastp_args = ""
    dedup = false

    // Data combining
    combine_fastqs = false
    combine_rep = false
    publish_combined_fastqs = false

    // Mapping
    bowtie2_args = "--local --very-sensitive-local --rdg 8,4 --rfg 8,4 --no-mixed"
    
    // Filtering
    samtools_filter_args = "-f 2"  // Default: only keep reads that aligned in proper pairs
    
    // Counting
    htseq_args = "--type gene --idattr locus_tag --nonunique none --secondary-alignments ignore"
    annotate_feature_assignment = false
    
    // Coverage
    strand_specific = false
    coverage_window_size = 100
    pairwise = false

    // Data retention
    keep_dedup_bam = false
    keep_sorted_bam = false
    keep_filtered_bam = false

    // Miscellaneous configuration
    multiqc_config = ""
    monochrome_logs = false
    // nf-core config
    custom_config_version = 'master'
    custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
}

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

process {
    withName: 'FASTQC_RAW' {
        ext.args   = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${params.trimmer}/fastqc/raw" },
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: 'FASTQC_TRIM' {
        ext.args   = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${params.trimmer}/fastqc/trim" },
            mode: 'copy',
            overwrite: true
        ]
    }
}

// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}
