// Config inheritance options
//TODO Should we simply inherit the custom config.
// We will be responsible for maintaining this pipeline, so seems reasonable to include and fix later
// by duplicating if needed?
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config = ""
}
inherit_generic_config()

params {
    // Mandatory input
    manifest = ""
    reference = ""
    annotation = ""
    library_strandedness = ""

    // Output
    outdir = "./results"
    keep_combined_fastqs = false
    keep_trimmed_fastqs = false
    keep_dedup_bam = false
    keep_sorted_bam = false
    keep_filtered_bam = false

    // QC
    skip_trim = false
    trimmer = "fastp"
    fastp_args = ""
    dedup = false
    multiqc_config = ""

    // Data combining
    combine_fastqs = false
    combine_rep = false

    // Mapping
    bowtie2_args = "--local --very-sensitive-local --rdg 8,4 --rfg 8,4 --no-mixed"
    
    // Filtering
    samtools_filter_args = "-f 2"  // Default: only keep reads that aligned in proper pairs
    
    // Counting
    htseq_args = "--type gene --idattr locus_tag --nonunique none --secondary-alignments ignore"
    annotate_feature_assignment = false
    
    // Coverage
    strand_specific = false
    coverage_window_size = 100
    coverage_context = 100
    pairwise = false

    // Miscellaneous configuration
    monochrome_logs = false
    // nf-core config
    nf_core_custom_config_version = 'master'
    nf_core_custom_config_base = "https://raw.githubusercontent.com/nf-core/configs"
    nf_core_custom_config = ""
}

// Load nf-core custom profiles from different Institutions
load_nfcore_profile_config()

process {
    withName: 'FASTQC_RAW' {
        ext.args   = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${params.trimmer}/fastqc/raw" },
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: 'FASTQC_TRIM' {
        ext.args   = '--quiet'
        publishDir = [
            path: { "${params.outdir}/${params.trimmer}/fastqc/trim" },
            mode: 'copy',
            overwrite: true
        ]
    }
}

plugins {
  id 'nf-schema@2.0.0'
}

// nf-schema config
validation {
    showHiddenParams = true
}

// Helper functions
def inherit_generic_config() {
    def config_url = params.generic_config ? params.generic_config : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}

def load_nfcore_profile_config() {
    def nf_core_config_url = params.nf_core_custom_config ? params.nf_core_custom_config : "${params.nf_core_custom_config_base}/${params.nf_core_custom_config_version}/nfcore_custom.config"
    try {
        includeConfig "${nf_core_config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load nf-core/config profiles config: ${nf_core_config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}